.player{
    display: flex;
    align-items: center;
    width: 250px;
    background-color: rgba(146, 140, 140, 0.897);
    overflow: hidden;
    border-top-left-radius: 33px;
    border-bottom-left-radius: 33px;
    img{
        height: 66px;
        width: 66px;
        object-fit: contain;
    }
    span{
        font-size: 24px;
        padding-left: 16px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

.player-active{
    background-color: orange !important;
}