<app-player (click)="editPlayer(i)" *ngFor="let player of game.players; let i = index" [ngStyle]="{'top.px': i*80 +20}"
    [PlayerActive]="i == game.currentPlayer" class="playerPosition hide-desktop" [name]="player" [profilePic]='game.playerImage[i]'>
</app-player>

<div class="scrollContainer">
    <app-player-mobile (click)="editPlayer(i)" *ngFor="let player of game.players; let i = index" [PlayerActive]="i == game.currentPlayer"
        class="hide-mobile" [name]="player" [profilePic]='game.playerImage[i]'>
    </app-player-mobile>
</div>

<img class="game-over" *ngIf="gameOver" src="./assets/img/gameOver.png" >

<div *ngIf="!gameOver" class="game">
    <div class="card-stack">
        <!-- card stack -->
        <img [ngStyle]="{'right.px': i * 5}" *ngFor="let c of [0, 1, 2, 3, 4]; let i = index;"
            src="assets/img/cards/red_back.png" alt="">
        <!-- top card of the stack -->
        <img (click)="pickCard()" class="top-card" style="right: 20px;" src="assets/img/cards/red_back.png" alt="">
        <!-- played card stack -->
        <img *ngFor="let c of game.playedCards; let i = index" src="assets/img/cards/{{ game.playedCards[i] }}.png"
            alt="" class="playedCard">
        <!-- current card (Animation) -->
        <img (click)="pickCard()" *ngIf="game.pickCardAnimation" [class.pick-card]="game.pickCardAnimation"
            class="pick-card" style="right: 20px;" src="assets/img/cards/{{ game.currentCard }}.png" alt="">
    </div>
</div>

<app-game-info *ngIf="!gameOver" [card]="game.currentCard" [players]="game.players" class="pin-bottom"></app-game-info>

<button *ngIf="!game.gameStarted" [disabled]="maxPlayer" mat-fab color="primary" class="add-btn" (click)="openDialog()">
    <mat-icon>add</mat-icon>
</button>

<!-- [disabled]="game.gameStarted" -->